
emccd_detect/Output/Nonlinearity_2s_1.fits
emccd_detect/Output/Nonlinearity_2s_10.fits
emccd_detect/Output/Nonlinearity_2s_11.fits
emccd_detect/Output/Nonlinearity_2s_12.fits
emccd_detect/Output/Nonlinearity_2s_13.fits
emccd_detect/Output/Nonlinearity_2s_14.fits
emccd_detect/Output/Nonlinearity_2s_15.fits
emccd_detect/Output/Nonlinearity_2s_16.fits
emccd_detect/Output/Nonlinearity_2s_17.fits
emccd_detect/Output/Nonlinearity_2s_18.fits
emccd_detect/Output/Nonlinearity_2s_19.fits
emccd_detect/Output/Nonlinearity_2s_2.fits
emccd_detect/Output/Nonlinearity_2s_20.fits
emccd_detect/Output/Nonlinearity_2s_21.fits
emccd_detect/Output/Nonlinearity_2s_22.fits
emccd_detect/Output/Nonlinearity_2s_23.fits
emccd_detect/Output/Nonlinearity_2s_24.fits
emccd_detect/Output/Nonlinearity_2s_25.fits
emccd_detect/Output/Nonlinearity_2s_26.fits
emccd_detect/Output/Nonlinearity_2s_27.fits
emccd_detect/Output/Nonlinearity_2s_28.fits
emccd_detect/Output/Nonlinearity_2s_29.fits
emccd_detect/Output/Nonlinearity_2s_3.fits
emccd_detect/Output/Nonlinearity_2s_30.fits
emccd_detect/Output/Nonlinearity_2s_31.fits
emccd_detect/Output/Nonlinearity_2s_32.fits
emccd_detect/Output/Nonlinearity_2s_33.fits
emccd_detect/Output/Nonlinearity_2s_34.fits
emccd_detect/Output/Nonlinearity_2s_35.fits
emccd_detect/Output/Nonlinearity_2s_36.fits
emccd_detect/Output/Nonlinearity_2s_37.fits
emccd_detect/Output/Nonlinearity_2s_38.fits
emccd_detect/Output/Nonlinearity_2s_39.fits
emccd_detect/Output/Nonlinearity_2s_4.fits
emccd_detect/Output/Nonlinearity_2s_40.fits
emccd_detect/Output/Nonlinearity_2s_41.fits
emccd_detect/Output/Nonlinearity_2s_42.fits
emccd_detect/Output/Nonlinearity_2s_43.fits
emccd_detect/Output/Nonlinearity_2s_44.fits
emccd_detect/Output/Nonlinearity_2s_45.fits
emccd_detect/Output/Nonlinearity_2s_46.fits
emccd_detect/Output/Nonlinearity_2s_47.fits
emccd_detect/Output/Nonlinearity_2s_48.fits
emccd_detect/Output/Nonlinearity_2s_5.fits
emccd_detect/Output/Nonlinearity_2s_6.fits
emccd_detect/Output/Nonlinearity_2s_7.fits
emccd_detect/Output/Nonlinearity_2s_8.fits
emccd_detect/Output/Nonlinearity_2s_9.fits
emccd_detect/Output/Nonlinearity_5s_1.fits
emccd_detect/Output/Nonlinearity_5s_10.fits
emccd_detect/Output/Nonlinearity_5s_11.fits
emccd_detect/Output/Nonlinearity_5s_12.fits
emccd_detect/Output/Nonlinearity_5s_13.fits
emccd_detect/Output/Nonlinearity_5s_14.fits
emccd_detect/Output/Nonlinearity_5s_15.fits
emccd_detect/Output/Nonlinearity_5s_16.fits
emccd_detect/Output/Nonlinearity_5s_17.fits
emccd_detect/Output/Nonlinearity_5s_18.fits
emccd_detect/Output/Nonlinearity_5s_19.fits
emccd_detect/Output/Nonlinearity_5s_2.fits
emccd_detect/Output/Nonlinearity_5s_20.fits
emccd_detect/Output/Nonlinearity_5s_21.fits
emccd_detect/Output/Nonlinearity_5s_22.fits
emccd_detect/Output/Nonlinearity_5s_23.fits
emccd_detect/Output/Nonlinearity_5s_24.fits
emccd_detect/Output/Nonlinearity_5s_25.fits
emccd_detect/Output/Nonlinearity_5s_26.fits
emccd_detect/Output/Nonlinearity_5s_27.fits
emccd_detect/Output/Nonlinearity_5s_28.fits
emccd_detect/Output/Nonlinearity_5s_29.fits
emccd_detect/Output/Nonlinearity_5s_3.fits
emccd_detect/Output/Nonlinearity_5s_30.fits
emccd_detect/Output/Nonlinearity_5s_31.fits
emccd_detect/Output/Nonlinearity_5s_32.fits
emccd_detect/Output/Nonlinearity_5s_33.fits
emccd_detect/Output/Nonlinearity_5s_34.fits
emccd_detect/Output/Nonlinearity_5s_35.fits
emccd_detect/Output/Nonlinearity_5s_36.fits
emccd_detect/Output/Nonlinearity_5s_37.fits
emccd_detect/Output/Nonlinearity_5s_38.fits
emccd_detect/Output/Nonlinearity_5s_39.fits
emccd_detect/Output/Nonlinearity_5s_4.fits
emccd_detect/Output/Nonlinearity_5s_40.fits
emccd_detect/Output/Nonlinearity_5s_41.fits
emccd_detect/Output/Nonlinearity_5s_42.fits
emccd_detect/Output/Nonlinearity_5s_43.fits
emccd_detect/Output/Nonlinearity_5s_44.fits
emccd_detect/Output/Nonlinearity_5s_45.fits
emccd_detect/Output/Nonlinearity_5s_46.fits
emccd_detect/Output/Nonlinearity_5s_47.fits
emccd_detect/Output/Nonlinearity_5s_48.fits
emccd_detect/Output/Nonlinearity_5s_5.fits
emccd_detect/Output/Nonlinearity_5s_6.fits
emccd_detect/Output/Nonlinearity_5s_7.fits
emccd_detect/Output/Nonlinearity_5s_8.fits
emccd_detect/Output/Nonlinearity_5s_9.fits
emccd_detect/Output/Nonlinearity_7s_1.fits
emccd_detect/Output/Nonlinearity_7s_10.fits
emccd_detect/Output/Nonlinearity_7s_11.fits
emccd_detect/Output/Nonlinearity_7s_12.fits
emccd_detect/Output/Nonlinearity_7s_13.fits
emccd_detect/Output/Nonlinearity_7s_14.fits
emccd_detect/Output/Nonlinearity_7s_15.fits
emccd_detect/Output/Nonlinearity_7s_16.fits
emccd_detect/Output/Nonlinearity_7s_17.fits
emccd_detect/Output/Nonlinearity_7s_18.fits
emccd_detect/Output/Nonlinearity_7s_19.fits
emccd_detect/Output/Nonlinearity_7s_2.fits
emccd_detect/Output/Nonlinearity_7s_20.fits
emccd_detect/Output/Nonlinearity_7s_21.fits
emccd_detect/Output/Nonlinearity_7s_22.fits
emccd_detect/Output/Nonlinearity_7s_23.fits
emccd_detect/Output/Nonlinearity_7s_24.fits
emccd_detect/Output/Nonlinearity_7s_25.fits
emccd_detect/Output/Nonlinearity_7s_26.fits
emccd_detect/Output/Nonlinearity_7s_27.fits
emccd_detect/Output/Nonlinearity_7s_28.fits
emccd_detect/Output/Nonlinearity_7s_29.fits
emccd_detect/Output/Nonlinearity_7s_3.fits
emccd_detect/Output/Nonlinearity_7s_30.fits
emccd_detect/Output/Nonlinearity_7s_31.fits
emccd_detect/Output/Nonlinearity_7s_32.fits
emccd_detect/Output/Nonlinearity_7s_33.fits
emccd_detect/Output/Nonlinearity_7s_34.fits
emccd_detect/Output/Nonlinearity_7s_35.fits
emccd_detect/Output/Nonlinearity_7s_36.fits
emccd_detect/Output/Nonlinearity_7s_37.fits
emccd_detect/Output/Nonlinearity_7s_38.fits
emccd_detect/Output/Nonlinearity_7s_39.fits
emccd_detect/Output/Nonlinearity_7s_4.fits
emccd_detect/Output/Nonlinearity_7s_40.fits
emccd_detect/Output/Nonlinearity_7s_41.fits
emccd_detect/Output/Nonlinearity_7s_42.fits
emccd_detect/Output/Nonlinearity_7s_43.fits
emccd_detect/Output/Nonlinearity_7s_44.fits
emccd_detect/Output/Nonlinearity_7s_45.fits
emccd_detect/Output/Nonlinearity_7s_46.fits
emccd_detect/Output/Nonlinearity_7s_47.fits
emccd_detect/Output/Nonlinearity_7s_48.fits
emccd_detect/Output/Nonlinearity_7s_5.fits
emccd_detect/Output/Nonlinearity_7s_6.fits
emccd_detect/Output/Nonlinearity_7s_7.fits
emccd_detect/Output/Nonlinearity_7s_8.fits
emccd_detect/Output/Nonlinearity_7s_9.fits
